@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.intro {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 40vh;
  color: white;
  padding: 30px 0;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 60px 0;
    height: 35vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/services-mobile.avif') center/cover no-repeat;
    filter: brightness(0.7);

    @media(min-width: 768px) {
      background: url('../../assets/services-desktop.avif') center/cover no-repeat;	
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;	
    padding: 0 16%;
    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    transform: translateY(20px);
    opacity: 1;
    transform: translateY(0);

    @media (min-width: 768px) {
      align-items: center;
      text-align: center;
    }

    @media (min-width: 1068px) {
      gap: 20px;
    }
  }

  &__title {
    margin: 0;
    @include apply-font($font-heading-1-desktop);
    padding-bottom: 30px;
    text-align: left;
    letter-spacing: 0.1em;
  }
}