@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.footer {
  &__container {
    padding: 30px 16%;
    color: $color-text-secondary;
    background-color: $color-brand;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media(min-width: 768px) {
      padding: 60px 16%;
    }
  }

  &__title {
    @include apply-font($font-heading-3-mobile);

    @media(min-width: 768px) {
      @include apply-font($font-heading-3-desktop);
    }
  }

  &__text,
  &__text a {
    @include apply-font($font-paragraph-2-mobile);
    color: $color-text-secondary;

    @media(min-width: 768px) {
      @include apply-font($font-paragraph-2-desktop);
    }

    &:nth-child(2) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  &__block {
    &--copyright p {
      color: $color-text-tertiary;
      margin-top: 32px;
    }
  }
}