@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.top {
  position: relative;
  height: 40vh;
  padding: 30px 0;
  overflow: hidden;

  &:hover .top__arrow {
    opacity: 1;
  }

  @media (min-width: 768px) {
    padding: 60px 0;
    height: 35vh;
  }

  &__background {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    filter: brightness(0.7);
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 0;

    &.active {
      opacity: 1;
      z-index: 1;
    }
  }

  .slide2 {
    background-image: url('../../assets/design-2-mobile.avif');

    @media(min-width: 768px) {
      background-image: url('../../assets/design-2-desktop.avif');
    }			
  }
}			