@use './mixins' as *;
@use './variables' as *;

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: white;
  padding: 30px 0;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 60px 0;
    height: 60vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/bg.avif') center/cover no-repeat;	
    background-attachment: fixed;
    filter: brightness(0.4);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 16%;
    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    @media (min-width: 768px) {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: space-between;
      // gap: 40px;
      // padding: 0 10%;
      // overflow-y: none;
      // scroll-behavior: none;
      align-items: center;
      text-align: center;
    }

    @media (min-width: 1068px) {
      gap: 20px;
    }
  }

  &__paragraph {
    margin: 0;
    @include apply-font($font-paragraph-3-mobile);
    padding-bottom: 30px;
    text-align: left;

    @media (min-width: 768px) {
      @include apply-font($font-paragraph-3-desktop);	
    }
  }

  &__button {
    display: inline-block;
    padding: 12px 32px;
    background-color: $color-brand;
    color: $color-background-primary;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid $color-background-primary;
    @include apply-font($font-button-secondary-desktop);
    letter-spacing: 0;

    @media(min-width: 768px) {
      @include apply-font($font-button-primary-desktop);
    }

    &:hover {
      background-color: $color-background-primary;
      color: $color-brand;
      letter-spacing: 0;
      border: 1px solid $color-brand;
      transition: all 0.5s ease;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
}