@use './mixins' as *;
@use './variables' as *;

.mission {
	padding: 0 16% 30px 16%;

	@media(min-width: 768px) {
		padding: 0 16% 60px 16%;
	}

	&__title {
		@include apply-font($font-heading-1-mobile);
		color: $color-brand;
		background-color: $color-background-primary;
    padding: 20px 0;

		@media(min-width: 768px) {
			@include apply-font($font-heading-1-desktop);
      padding: 40px 0;
		}
	}

	&__text {
		@include apply-font($font-paragraph-2-mobile);
    color: #000000;

    &:last-child {
      margin-top: 12px;
    }

		@media(min-width: 768px) {
			@include apply-font($font-paragraph-2-desktop);

		}

    &:last-child {
      margin-top: 20px;
    }
	}

	p {
		strong {
			font-family: 'Geometria Medium',
		}
	}
}