@use '../sections/Banner/Banner.module.scss';
@use '../sections/Conclusion/Conclusion.module.scss';
@use '../sections/Engineering/Engineering.module.scss';
@use '../sections/Expertise/Expertise.module.scss';
@use '../sections/Design/Design.module.scss';
@use '../sections/Advantages/Advantages.module.scss';
@use '../sections/About/About.module.scss';
@use '../sections/Footer/Footer.module.scss';
@use '../sections/Header/Header.module.scss';
@use '../sections/Hero/Hero.module.scss';
@use '../sections/Intro/Intro.module.scss';
@use '../sections/Mission/Mission.module.scss';
@use '../sections/Management/Management.module.scss';
@use '../sections/Nav/Nav.module.scss';
@use '../sections/OurServices/OurServices.module.scss';
@use '../sections/Services/Services.module.scss';
@use '../sections/Summary/Summary.module.scss';
@use '../sections/Top/Top.module.scss';
@use '../sections/TopAbout/TopAbout.module.scss';
@use '../sections/TopManagement/TopManagement.module.scss';
@use '../sections/Vision/Vision.module.scss';
@use './mixins' as *;
@use './variables' as *;

@font-face {
	font-family: 'Geometria Medium';
	src: 
	  url('../assets/fonts/geometria-medium.woff2') format('woff2'),
		url('../assets/fonts/geometria-light.woff') format('woff'),
		url('../assets/fonts/geometria-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Geometria Light';
	src: 
	  url('../assets/fonts/geometria-light.woff2') format('woff2'),
		url('../assets/fonts/geometria-light.woff') format('woff'),
		url('../assets/fonts/geometria-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

body {
	background-color: $color-background-primary;
	margin: 0 auto;
}