/* [project]/src/sections/Vision/Vision.module.scss.module.css [app-client] (css) */
.Vision-module-scss-module__Wg0CqG__vision {
  padding: 0 10% 30px;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision {
    padding: 60px 8%;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__kvint, .Vision-module-scss-module__Wg0CqG__vision__vision {
  border-bottom: 1px solid #4ca89d;
  flex-direction: column;
  justify-content: left;
  display: flex;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__kvint, .Vision-module-scss-module__Wg0CqG__vision__vision {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: grid;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__title, .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__title {
  color: #4ca89d;
  margin: 30px 0;
  font-family: Geometria Medium;
  font-size: 28px;
  line-height: 1.2em;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__title, .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__title {
    letter-spacing: 0;
    margin: 0;
    font-family: Geometria Medium;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__text, .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__text {
  color: #000;
  margin-top: 0;
  font-family: Geometria Light;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__text, .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__text {
    margin-top: 18px;
    font-family: Geometria Light;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__text {
  margin-top: 0;
  margin-bottom: 30px;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__kvint .Vision-module-scss-module__Wg0CqG__vision__text {
    color: #000;
    margin-bottom: 50px;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__vision {
  border-bottom: none;
}

.Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vison__title {
  color: #4ca89d;
  margin: 30px 0;
  font-family: Geometria Medium;
  font-size: 28px;
  line-height: 1.2em;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vison__title {
    letter-spacing: 0;
    margin: 0;
    font-family: Geometria Medium;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

.Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__text {
  margin-top: 0;
}

@media (width >= 768px) {
  .Vision-module-scss-module__Wg0CqG__vision__vision .Vision-module-scss-module__Wg0CqG__vision__text {
    margin-top: 50px;
  }
}

.Vision-module-scss-module__Wg0CqG__vision strong {
  font-family: Geometria Medium;
}

/*# sourceMappingURL=src_sections_Vision_Vision_module_scss_module_css_f9ee138c._.single.css.map*/