/* [project]/src/sections/Nav/Nav.module.scss.module.css [app-client] (css) */
.Nav-module-scss-module__nprNia__nav {
  background: #4ca89d;
  flex-direction: column;
  width: 100vw;
  padding: 20px 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px #0000001a;
}

.Nav-module-scss-module__nprNia__nav.Nav-module-scss-module__nprNia__active {
  display: flex;
}

.Nav-module-scss-module__nprNia__nav__list {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.Nav-module-scss-module__nprNia__nav__link {
  color: #fff;
  font-family: Geometria Light;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.Nav-module-scss-module__nprNia__nav__link:hover {
  opacity: .7;
}

@media (width >= 768px) {
  .Nav-module-scss-module__nprNia__nav__link {
    color: #646464;
  }

  .Nav-module-scss-module__nprNia__nav__link:hover {
    color: #4ca89d;
  }
}

.Nav-module-scss-module__nprNia__nav__item {
  align-self: center;
  position: relative;
}

.Nav-module-scss-module__nprNia__nav__item--dropdown:hover .Nav-module-scss-module__nprNia__nav__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.Nav-module-scss-module__nprNia__nav__dropdown {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 8px;
  min-width: 180px;
  padding: 10px 0;
  transition: all .3s;
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translateY(10px);
  box-shadow: 0 4px 12px #0000001a;
}

.Nav-module-scss-module__nprNia__nav__dropdown li {
  list-style: none;
}

.Nav-module-scss-module__nprNia__nav__dropdown.Nav-module-scss-module__nprNia__show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.Nav-module-scss-module__nprNia__nav__dropdown-link {
  color: #646464;
  white-space: nowrap;
  padding: 10px 16px;
  font-family: Geometria Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
  display: block;
}

.Nav-module-scss-module__nprNia__nav__dropdown-link:hover {
  opacity: .7;
  background-color: #f0f0f0;
}

@media (width >= 768px) {
  .Nav-module-scss-module__nprNia__nav__dropdown-link:hover {
    color: #4ca89d;
  }
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__language-switcher select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #646464;
  cursor: pointer;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  padding: 8px 32px 8px 12px;
  font-family: Geometria Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__language-switcher select:focus {
  color: #646464;
  background-color: #fff;
  border-color: #4ca89d;
  box-shadow: 0 0 0 2px #4ca89d;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__language-switcher {
  color: #646464;
  display: inline-block;
  position: relative;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__lang__indicator-separator {
  display: none;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__lang__single-value {
  color: #646464;
  font-weight: 200;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__lang__menu {
  border-radius: 0;
  top: 0;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__lang__option {
  color: #646464;
}

.Nav-module-scss-module__nprNia__nav .Nav-module-scss-module__nprNia__lang__control {
  border-radius: 0;
}

@media (width >= 768px) {
  .Nav-module-scss-module__nprNia__nav {
    width: auto;
    box-shadow: none;
    background: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    position: static;
  }

  .Nav-module-scss-module__nprNia__nav__list {
    flex-direction: row;
    gap: 20px;
    padding: 0;
    font-size: 16px;
    list-style-type: none;
    display: flex;
  }

  .Nav-module-scss-module__nprNia__nav__link {
    font-family: Geometria Light;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
  }

  .Nav-module-scss-module__nprNia__nav__link.Nav-module-scss-module__nprNia__active {
    color: #4ca89d;
  }

  .Nav-module-scss-module__nprNia__nav__item {
    position: relative;
  }

  .Nav-module-scss-module__nprNia__nav__item--dropdown:hover .Nav-module-scss-module__nprNia__nav__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .Nav-module-scss-module__nprNia__nav__dropdown {
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    min-width: 180px;
    padding: 10px 0;
    transition: all .3s;
    position: absolute;
    top: 100%;
    left: -50%;
    transform: translateY(10px);
    box-shadow: 0 4px 12px #0000001a;
  }

  .Nav-module-scss-module__nprNia__nav__dropdown li {
    list-style: none;
  }

  .Nav-module-scss-module__nprNia__nav__dropdown-link {
    color: #646464;
    white-space: nowrap;
    padding: 10px 16px;
    font-family: Geometria Light;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-decoration: none;
    display: block;
  }

  .Nav-module-scss-module__nprNia__nav__dropdown-link:hover {
    background-color: #f0f0f0;
  }

  .Nav-module-scss-module__nprNia__nav__button {
    border: 1px solid #4ca89d;
    font-family: Geometria Light;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
  }

  .Nav-module-scss-module__nprNia__nav__button:hover {
    color: #4ca89d;
    transition: color .4 ease;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #4ca89d;
  }
}

@media (width >= 1068px) {
  .Nav-module-scss-module__nprNia__nav {
    justify-content: center;
  }

  .Nav-module-scss-module__nprNia__nav__list {
    gap: 40px;
  }

  .Nav-module-scss-module__nprNia__nav__link, .Nav-module-scss-module__nprNia__nav__dropdown-link, .Nav-module-scss-module__nprNia__nav__button {
    font-family: Geometria Light;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
  }
}

/*# sourceMappingURL=src_sections_Nav_Nav_module_scss_module_css_f9ee138c._.single.css.map*/