/* [project]/src/sections/OurServices/OurServices.module.scss.module.css [app-client] (css) */
.OurServices-module-scss-module__TPE3CW__list__container {
  background-color: #e8e6e6;
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (width >= 768px) {
  .OurServices-module-scss-module__TPE3CW__list__container {
    padding: 60px 16%;
  }
}

.OurServices-module-scss-module__TPE3CW__list__list {
  background-color: #e8e6e6;
  flex-direction: column;
  gap: 40px;
  padding: 30px 20px;
  display: flex;
}

@media (width >= 768px) {
  .OurServices-module-scss-module__TPE3CW__list__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    display: grid;
  }
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card {
  box-sizing: border-box;
  background-color: #dbdbdb;
  flex-direction: column;
  padding: 34px;
  display: flex;
  position: relative;
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card .OurServices-module-scss-module__TPE3CW__card__img1, .OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card .OurServices-module-scss-module__TPE3CW__card__img2, .OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card .OurServices-module-scss-module__TPE3CW__card__img3 {
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__title {
  letter-spacing: 0;
  text-align: center;
  color: #4ca89d;
  margin-top: 50px;
  font-family: Geometria Medium;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__text {
  text-align: center;
  color: #000;
  margin-top: 12px;
  font-family: Geometria Light;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}

@media (width >= 768px) {
  .OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__text {
    margin-top: 20px;
  }
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__footer {
  justify-content: center;
  margin-top: auto;
  display: flex;
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__button {
  text-align: center;
  color: #fff;
  letter-spacing: 0;
  background-color: #4ca89d;
  border: 1px solid #4ca89d;
  border-radius: 8px;
  width: 100%;
  margin-top: 24px;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
}

.OurServices-module-scss-module__TPE3CW__list .OurServices-module-scss-module__TPE3CW__card__button:hover {
  color: #4ca89d;
  background-color: #fff;
}

.OurServices-module-scss-module__TPE3CW__list p strong {
  font-family: Geometria Medium;
}

/*# sourceMappingURL=src_sections_OurServices_OurServices_module_scss_module_css_f9ee138c._.single.css.map*/