@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.about {
  padding: 0 10% 30px 10%;	

  @media(min-width: 768px) {
    padding: 60px 8%;
  }

  &__us {
    display: flex;
    flex-direction: column;
    justify-content: left;

    border-bottom: 1px solid $color-brand;

    @media(min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .about__title {
      @include apply-font($font-heading-1-mobile);
      color: $color-brand;
      margin: 30px 0;
  
      @media(min-width: 768px) {
        @include apply-font($font-heading-4-desktop);
        margin: 0;
      }
    }

    .about__text {
      @include apply-font($font-paragraph-1-desktop);
      margin-top: 0;
      margin-bottom: 30px;
      color: #000000;
  
      @media(min-width: 768px) {
        @include apply-font($font-paragraph-1-desktop);
        margin-top: 18px;
        margin-bottom: 50px;
      }
    }
  }

  &__join {
    display: flex;
    flex-direction: column;
    justify-content: left;

    border-bottom: 1px solid $color-brand;

    @media(min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .about__title {
      @include apply-font($font-heading-1-mobile);
      color: $color-brand;
      margin: 30px 0;
  
      @media(min-width: 768px) {
        @include apply-font($font-heading-4-desktop);
        margin: 0;
      }
    }

    .about__list {
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;
      // border-bottom: 1px solid $color-brand;
    }

    .about__item {
      @include apply-font($font-paragraph-2-mobile);
      padding-bottom: 20px;
      color: #000000;
  
      @media(min-width: 768px) {
        @include apply-font($font-paragraph-2-desktop);
      }

      &:first-child {
        @media(min-width: 768px) {
          padding-top: 40px;
        }
      }

      &:last-child {
        padding-bottom: 30px;

        @media(min-width: 768px) {
          padding-bottom: 50px;
        }
      }
    }

  }

  &__conclusion {
    p {
      color: #000000;

      &:first-child {
        @include apply-font($font-paragraph-3-mobile);
        margin-top: 30px;
        margin-bottom: 20px;

        @media(min-width: 768px) {
          @include apply-font($font-paragraph-3-mobile);
          margin-top: 50px;
        }
      }

      &:last-child {
        @include apply-font($font-paragraph-4-mobile);

        @media(min-width: 768px) {
          @include apply-font($font-paragraph-1-desktop);
        }
      }
    }
  }

  strong {
    font-family: 'Geometria Medium';
  }
}
