@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.design {
	padding: 30px 16%;

	@media(min-width: 768px) {
		padding: 60px 16%;
	}

	&__heading {
		@include apply-font($font-heading-1-mobile);
		color: $color-brand;
		margin-top: 0;
		margin-bottom: 30px;
		overflow-wrap: break-word;

		@media(min-width: 768px) {
			@include apply-font($font-heading-1-desktop);
			margin-bottom: 42px;
		}
	}

	&__title {
		@include apply-font($font-heading-2-mobile);
		color: $color-brand;
		margin-top: 12px;
		margin-bottom: 10px;

		&:first-child {
			margin-top: 0;
		}

		@media(min-width: 768px) {
			@include apply-font($font-heading-2-desktop);
			margin-top: 20px;
			margin-bottom: 12px;
		}
	}

	&__offerings {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media(min-width: 765px) {
			gap: 20px;
		}
	}

	&__text,
	&__item,
	&__conclusion {
		@include apply-font($font-paragraph-2-mobile);
		color: #000000;

		@media(min-width: 768px) {
			@include apply-font($font-paragraph-2-desktop);
		}
	}

	strong {
		font-family: "Geometria Medium";
	}

	&__list {
		padding-left: 0;
		list-style-type: none;
	}
}