@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: $color-background-primary;
	padding: 20px 7%;
	border-bottom: 1px solid $color-text-tertiary;

	.info {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.logo__img {
			width: 235px;
			height: 40px;
			max-width: 100%;
			display: block;
			z-index: 1;
		
			@media (min-width: 768px) {
				width: auto;
			}
		}
	}
}

.contacts {
	display: flex;
	flex-direction: row;
	gap: 12px;

	&__item {
		display: flex;
		flex-direction: row;
		gap: 4px;
	}

	&__text {	
		a {
			color: $color-text-primary;
			text-decoration: underline;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.burger {
	position: relative;
	width: 28px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;

	&__line {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: $color-brand;
		left: 0;
		transition: transform 0.3s ease, opacity 0.3s ease;
		
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 8px;
		}
		&:nth-child(3) {
			top: 16px;
		}
	}

	&.active {
		.burger__line {
			background-color: $color-background-primary;
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 8px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 8px;
			}
		}
	}
}

@media(min-width: 768px) {
	.burger {
		display: none;
	}
}