@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.conclusion {
	padding: 30px 16%;

	@media(min-width: 768px) {
		padding: 60px 16%;
	}
	&__text {
		@include apply-font($font-paragraph-4-mobile);
    color: #000000;

		@media(min-width: 768px) {
			@include apply-font($font-paragraph-4-desktop);
		}
	}
}